{% extends 'base.html.twig' %}

{% block body %}
<body>
<div class="header">
    <h2>Create new task</h2>
    <form method="POST" action="{{ path('create_task') }}">
        <input name="title" type="text" id="myInput" placeholder="Task title..." />
        <input name="description" type="text" id="myInput" placeholder="Task description..." />
        <input name="deadline" type="date" id="myInput" placeholder="Task title..." />
        <button type="submit" class="addBtn">Add a task</button>
    </form>
</div>
<h2>Tasks</h2> <br><br>

<h3>Tasks with waiting status</h3>
<ul id="waiting">
        {% for taskWithStatusWaiting in tasksWithStatusWaiting %}
    <li>
        <a href="{{ path('edit', {'id': taskWithStatusWaiting.id}) }}">
            <span class="task-list-item">Title: {{ taskWithStatusWaiting.title }}</span>
            <span class="task-list-item">Description: {{ taskWithStatusWaiting.description }}</span>
            <span class="task-list-item">Deadline: {{ taskWithStatusWaiting.deadline }}</span></a
        ><a onclick="return confirm('Are you sure to delete?')" href="{{ path('delete', {'id': taskWithStatusWaiting.id}) }}"><span class="close">X</span></a>
    </li>
    {% endfor %}
</ul>
<br><br>
<h3>Tasks with done status</h3>
<ul id="done">
    {% for taskWithStatusDone in tasksWithStatusDone %}
        <li>
            <a href="{{ path('edit', {'id': taskWithStatusDone.id}) }}">
                <span class="task-list-item">Title: {{ taskWithStatusDone.title }}</span>
                <span class="task-list-item">Description: {{ taskWithStatusDone.description }}</span>
                <span class="task-list-item">Deadline: {{ taskWithStatusDone.deadline }}</span></a
            ><a onclick="return confirm('Are you sure to delete?')" href="{{ path('delete', {'id': taskWithStatusDone.id}) }}"><span class="close">X</span></a>
        </li>
    {% endfor %}
</ul>
<br><br>
<h3>Tasks with rejected status</h3>
<ul id="rejected">
    {% for taskWithStatusRejected in tasksWithStatusRejected %}
        <li>
            <a href="{{ path('edit', {'id': taskWithStatusRejected.id}) }}">
                <span class="task-list-item">Title: {{ taskWithStatusRejected.title }}</span>
                <span class="task-list-item">Description: {{ taskWithStatusRejected.description }}</span>
                <span class="task-list-item">Deadline: {{ taskWithStatusRejected.deadline }}</span></a
            ><a onclick="return confirm('Are you sure to delete?')" href="{{ path('delete', {'id': taskWithStatusRejected.id}) }}"><span class="close">X</span></a>
        </li>
    {% endfor %}
</ul>
<script src="sortable.min.js"></script>
</body>
{% endblock %}

{% block javascripts %}
    <script>
        import Sortable from 'sortablejs/modular/sortable.complete.esm.js';

        Sortable.create(waiting, {
            group: 'waiting',
            animation: 100
        });

        Sortable.create(done, {
            group: {
                name: 'done',
                put: 'rejected',
                pull: function (to, from) {
                    return from.el.children.length > 2 || 'clone';
                }
            },
            animation: 100
        });

        Sortable.create(rejected, {
            group: {
                name: 'rejected',
                put: function (to) {
                    return to.el.children.length < 4;
                }
            },
            animation: 100
        });
    </script>
{% endblock %}
